{% for realisation in realisations %}
    <div class="col-lg-4 mb-3">
        <div class="card text-white card-inverse">
            <img src="/uploads/{{ realisation.photo1 }}" class="card-img" alt="{{ realisation.title }}">
            <div class="card-img-overlay d-flex">
                <h3 class="card-title align-self-center text-center mx-auto">
                    {{ realisation.title }}
                </h3>
                <div class="info align-self-center text-center mx-auto">
                    <div class="skills">
                        {% for skill in realisation.skills %}
                            <span class="badge badge-light">{{ skill.name }}</span>
                        {% endfor %}
                    </div>
                    <a href="{{ path('realisations', {'id': realisation.id}) }}"
                       class="btn btn-outline-light mt-3">
                        Voir
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}