{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <section id="presentation" class="d-flex flex-column align-items-center py-5">
        <h2 class="my-4 text-center text-uppercase">Présentation</h2>
        <div class="line-dark mb-4"></div>
        <div class="row align-items-center justify-content-center presentation-responsive my-4 mx-0">
            <div class="col-lg-5 col-sm-12 text-wrap text-presentation">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mattis sapien, at convallis purus.
                Donec porta ex orci. Nullam turpis tellus, pellentesque at erat eu, eleifend varius arcu.
                Nunc sit amet hendrerit purus, sed sollicitudin ligula. Duis non lacus quis sapien ultricies
                hendrerit. Nulla efficitur eros non lorem commodo aliquam. Fusce feugiat pulvinar lacinia. Donec non
                ipsum vitae mi egestas rhoncus. In viverra turpis in elit dignissim luctus. Maecenas posuere urna id
                ipsum feugiat, vitae cursus ex luctus. Aenean mollis eu felis nec maximus.
            </div>
            <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
                <div class="img-presentation">
                    <img src="{{ asset('build/images/presentation.jpeg') }}" alt="Présentation">
                </div>
            </div>
        </div>
    </section>
    <section id="realisation" class="d-flex flex-column align-items-center py-5">
        <h2 class="my-4 text-center text-uppercase">Réalisations</h2>
        <div class="line-dark mb-4"></div>
        <div class="row my-4 justify-content-around realisation-responsive">
            {% for realisation in realisations %}
                <div class="col-lg-4 mb-3">
                    <div class="card text-white card-inverse">
                        <img src="/uploads/{{ realisation.photo1 }}" class="card-img" alt="{{ realisation.title }}">
                        <div class="card-img-overlay d-flex">
                            <h3 class="card-title align-self-center text-center mx-auto">
                                {{ realisation.title }}
                            </h3>
                            <div class="info align-self-center text-center mx-auto">
                                <a href="{{ path('realisation', {'id': realisation.id}) }}"
                                   class="btn btn-outline-light">
                                    Voir
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="contact-section" class="d-flex flex-column align-items-center pt-5">
        <h2 class="my-4 text-center text-uppercase">Contact</h2>
        <div class="line-dark mb-4"></div>
        <div class="contact-responsive">
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form, {'attr': {'class': 'd-flex flex-column justify-content-center'}}) }}
            {{ form_widget(form) }}
            <button class="btn btn-dark align-self-center my-3">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}